<div class="row">
  <div class="col-xs-12">
    <h1>Add new Vibez!</h1>
    <h5>Your vibe attracts your tribe.</h5>
    <hr>
    <label>Vibe's Name</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newVibeName"> -->
    <input 
    type="text" 
    class="form-control" 
    #vibeNameInput>
    <label>Vibe's Content</label>
    <input type="text" class="form-control" [(ngModel)]="newVibeContent">
    <br>
    <button
      class="btn btn-primary"
      (click)="onAddGoodVibe(vibeNameInput)">Add Good Vibe</button>
    <button
      class="btn btn-primary"
      (click)="onAddBadVibe(vibeNameInput)">Add Bad Vibe</button>
  </div>
</div>
